* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
  'Lucida Sans', Arial, sans-serif;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }

  50% {
    transform: rotate(180deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

body {
  background: linear-gradient(
          90deg,
          rgba(48, 16, 255, 1) 0%,
          rgba(100, 115, 255, 1) 100%
  );
}

.todo-app {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 520px;
  min-height: 600px;
  background: #161a2b;
  text-align: center;
  margin: 128px auto;
  border-radius: 10px;
  padding-bottom: 32px;
}

h1 {
  margin: 32px 0;
  color: #fff;
  font-size: 24px;
}

.desc {
  margin-top: -16px;
  margin-bottom: 14px;
  color: #aaa;
}

.extra {
  margin: 16px 32px 0;
  color: #aaa;
}

.conor {
  position: absolute;
  top: 5px;
  right: 5px;
  color: #fff;
}

.danger {
  color: red;
}

