.loading-wrapper {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, .5);
}

.loading-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.loading-container svg {
    width: 100px;
    height: 100px;
    animation-name: rotate;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}
